  /* CSS Document */


  *{
    margin:0;
    padding:0;
    font-family:微软雅黑;
    list-style:none;
    text-decoration:none;
  }

  .index {
  font-family: "宋体";
  color: #0000FF;
  text-shadow: #00CCFF;
  padding-left: 8%;
  padding-right: 8%;
}


/* 状态栏毛玻璃质感 */
/* .nagivation{
  margin:0 auto;
  padding:1em;
  width: 100%;
  background:hsla(0,0%,100%,.25) border-box;
  overflow:hidden;
  border-radius:.3em;
  box-shadow:0 0 0 1px hsla(0,0%,100%,.3) inset,0 .5em 1em rgba(0,0,0,0.6);
  text-shadow:0 1px 1px hsla(0,0%,100%,.3);
  font-variant-ligatures:common-ligatures
                          discretionary-ligatures
                          historical-ligatures;
} */

.ul-inline{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding-top: 5%;
  font-size: 0px;
}

.menu_li{
  width:100px;
  border-bottom: grey 1px 70% solid;
}

.banner_a {
  border-radius: 10px;
  border-top-left-radius: 5px;
  background:transparent;
  transition: 0.5s;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-family: myFont;
  color: white;
}

.banner_a:hover{
  border-bottom:blue 2px solid;
  border-top:blue 2px solid;
  background:transparent;
  font-size: 20px;
}

.clrcle{
  border-radius: 50%;
  width: 50px;
  height: 50px;

}

span{
  
}

iframe{
  border: blue;
  width: 100%;
  height: 100%;
}


img{
  height:100%;
  width:100%;
  overflow: hidden;
  background-size:cover;
}

body{
  background: #1d2027;
}

/* 添加字体 */
@font-face
{
font-family: myFont;
src: url('../css/font/基督山伯爵.TTF');
}